@charset "utf-8";
/* CSS Document */

h1, h2 {
	padding: 10px;
}
img, img.scale-with-grid { 
	outline: 0; 
	border:thin;
	width: 100%; 
	height: auto; 
}

.background {
	border: 1px solid black;
	background-color: #FFFFB2;
}
.dataTable{
	
   	
   	padding: 5px;
	border-collapse: collapse;
	border: 1px solid black;
   
}

th.dataTable{
	background-color: #780000;
	padding:10pz
	border:hidden;
	color:white;	
}

.noteDate{
    width:150px;
	vertical-align:text-top;
}
td.dataTable{

}
select.dataTable
{
	width:100%;
	padding:0;
	background-color:white;
}

table.dataTable{
	width:100%;	
}
tr:nth-child(even).dataTable  {
    background-color: #FFF0B2;
    color: black;
}
tr:nth-child(odd).dataTable {
    background-color: #FFFFD1;
    color: black;

}
.cardRecordWidth {
	width:80%;
}
.cardNameWidth {
	width: 20px;	
}

div.card {
	border:solid 2px;
	margin:2px;
	border-radius: 5px;
	max-width:600px;	
}
/*#dataItemList {
	border-collapse: collapse;	
	
}
#dataItemList th {
	width: 30px;
	text-align:left;
	background-color: #780000;
    color: white;
}

#dataItemList td{
	width: 500;	
}
#dataItemList tr:nth-child(even) {
    background-color: #FFF0B2;
    color: black;
}
#dataItemList tr:nth-child(odd) {
    background-color: #FFFFD1;
    color: black;
}

#search {
	padding: 10px;
	border-style:none;
	border-collapse: collapse;
	
}
#search th {
	
	width: 100px;
	text-align:left;
	padding: 5px;
	background-color: #780000;
    color: white;
}
#search td {
	width: 300px;
	background-color: white;	
}

#search select {
	width: 100%;
}

#searchBox {
	 width: 400px;
	 border-style:solid;
	 border-width:1;
	 background-color: #780000;
	 padding : 5px;	
	 color: white;
}

#formStyle {
	display:inline;	
}

#dateNote {
	width: 10px;
}

.notesTable{
	table-layout:fixed;
	border-collapse:collapse;
	border:hidden;
}
*/